<p>Edit Category</p>

  
<% if @category.errors.full_messages.any? %>
    <ul>
        <% @category.errors.full_messages.each do |message|%>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with  model: @category do |form|  %>
    <div>
        <%= form.label :name %><br />
        <%= form.text_field :name %>
    </div>
    <div>
        <%= form.label :description %><br />
        <%= form.text_area :description %>
    </div>
    <div>
        <%= form.label :cover %><br />
        <%= form.file_field :cover %>
    </div>
    <div>
        <%= form.submit "EDIT CATEGORY" %>
    </div>
<% end %>

<%= link_to categories_path do %>
    <button>Back</button>
<% end %>