<h2>Categories</h2>
<%= link_to new_category_path do %>
    <button>NEW CATEGORY</button>
<% end %>
 
<% @categories.each do |category| %>
    <%= link_to category_path(category) do %>
        <div>
            <%= cl_image_tag category.cover.key, :width=>150, :crop=>"fill" %>
            <p><%= category.name%></p>
            <% if category.photos_count && category.photos_count==1 %>
                <span><%= category.photos_count %> photo</span>
            <% elsif category.photos_count && category.photos_count>1 %>
                <span><%= category.photos_count %> photos</span>
            <% else %>
                <span> 0 photos </span>
            <% end %>
            <p><%= category.description%></p>
            <%= link_to "Edit" ,edit_category_path(category) %>
            <%= button_to "delete",category_path(category), method: :delete,data: {confirm: "Are you sure?"} %>
        </div>
    <% end %>

<% end %>