<h2><%= @category.name %></h2>
<p><%= @category.description%></p>


<% @category.photos.each do |photo|%>
    <div>
        <%= cl_image_tag photo.image.key, :width=>150, :crop=>"fill" %>
        <span><%= photo.title %></span><br>
        <% if photo.comments.size== 1 %>
          <span><%= photo.comments.size%> comment</span>
        <% else %>
          <span><%= photo.comments.size%> comments</span>
        <% end %>
        <%= link_to "Edit" ,edit_photo_path(photo) %>
        <%= button_to "delete",photo_path(photo), method: :delete,data: {confirm: "Are you sure?"} %>
    </div>
<% end %>
<%= form_with url: "/categories/#{@category.id}/comments", model: @comment_new do |form|  %>
    <% if  @comment_new.errors.any? %>
      <p><%= @comment_new.errors.full_messages[0] %></p>
    <% end %>
    <div>
        <%= form.label :body %><br />
        <%= form.text_field :body %>
    </div>
    <div>
        <%= form.submit "CREATE COMMENT" %>
    </div>
<% end %>
<h2>Comments</h2>
<% @comments.each do |comment| %>
    <% break if comment.id.nil? %>
    <div>
        <hr>
        <p><%= comment.body %></p>
    </div>
<% end %>