<div>
    <div class="header-show-category"></div>
        <h2 class="sub-title"><%= @category.name %></h2>
        <p><%= @category.description%></p>
        <%= link_to new_category_photo_path(@category) do %>
            <button class="button-search new">new Photo</button>
        <% end %>
    </div>

    <div class="card-photos-container">
        <% @category.photos.each do |photo|%>
            <div class="photo-container-card">
                <%= link_to photo_path(photo) do %>
                    <%= cl_image_tag photo.image.key, :crop=>"fill" %>
                <% end %>
                <div class="footer-photo">
                    <span><%= photo.title %></span>
                    <div class="footer-bottom-photo">
                        <% if photo.comments.size== 1 %>
                            <span><%= photo.comments.size%> comment</span>
                        <% else %>
                            <span><%= photo.comments.size%> comments</span>
                        <% end %>
                        <div class="icons-footer-photo">
                            <div>
                                <%= link_to edit_photo_path(photo) do %>
                                    <img class="edit-icon-footer" src="/icons/edit.svg" alt="">
                                <% end %>
                            </div>
                            <div class="delete-photo">
                                <%= button_to photo_path(photo), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } do %>
                                    <img  src="/icons/delete.svg" alt="">
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
        <div>
            <%= form_with url: category_comments_path(@category),html: { class: "form-comment" } ,model: @comment_new do |form|  %>
                <% if @comment_new.errors.any? %>
                    <span class="error">Something went wrong:</span>
                    <ul>
                        <% @comment_new.errors.full_messages.each do |message|%>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                <% end %>
                <%= form.text_area :body ,class: "form-textarea"  %>
                <%= form.submit "Comment",class: "button-submit" %>
            <% end %>
        </div>
        <div>
            <span class="subtitle-comments">Comments</span>
            <div class="comments-container">
                <% @comments.each do |comment| %>
                    <% break if comment.id.nil? %>
                    <div class="comment">
                        <p><%= comment.body %></p>
                        <div class="comment-bottom">
                            <span>Send <%= time_ago_in_words comment.created_at %> ago</span>
                            <%= button_to category_comment_path(@category,comment),class: "delete-icon",method: :delete, form: { data: { turbo_confirm: "Are you sure?" } } do %>
                                <img src="/icons/delete.svg" alt="">
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>